#about div {
    font-family: Gill Sans MT;
}

h1 {
    text-align: center;
    font-size: 60px;
    background-color: rgb(84,95,109);
    color: aliceblue;
}

h2 {
    font-size: 50px;
}

.aboutpicture {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.aboutinfo {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    margin-left: 50px;
    margin-top: 0px;
    font-size: 25px;
    text-align: center
}

#contact {
    text-align: center;
    font-family: Gill Sans MT;
    margin-bottom: 20px;
}

#contact p {
    font-size: 30px;
}

.contact-icon {
    display: inline-block;
    color: rgb(84,95,109);
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.social {
    text-align: center;
}

.contact-icon:hover {
    color: darkcyan;
}

.me {
    width: 350px;
}