#main {
    height: 640px;
    background-color: rgb(84,95,109);
    text-align: center;
}

.portfolio {
    display: inline-block;
    width: 500px;
    height: 250px;
    margin: 10px;
}

#main h1{
    font-family: Gill Sans MT;
    font-size: 60px;
    color: aliceblue;
}

@media screen and (max-width:767px) {
    #main h1 {
        font-size: 35px;
    }
    
    .portfolio {
        width: 300px;
        height: 150px;
    }
}