/*---portfolio---*/
#main {
    text-align: center;
}

h1 {
    font-family: Gill Sans MT,"Lato";
    font-size: 60px;
    text-align: center;
}

.portfolio {
    display: inline-block;
    width: 500px;
    height: 250px;
    margin: 10px;
}

/*---portfolio---*/

/*---portfolio page---*/

.box {
    display: inline-block;
}

hr{
    border-color: black;
    border-width: 4px;
}

.main-picture {
    margin: 30px;
    margin-right: 50px;
    width: 500px;
    float: left;
}

.main-info {
    width: 500px;
    margin-top: 30px;
    margin-right: 40px;
    padding-right: 60px;
    text-align: left;
    float: right;
}

.main-info h1{
    margin: 5px;
    font-size: 50px;
    color: black;
}

.main-info ul {
    float: right;
    margin: 5px;
    font-size: 24px;
}

p {
 font-size: 25px;   
}

#overview h1{
    margin: 30px;
    font-size: 50px;
    padding-top: 140px;
}

#overview2 h1{
    margin: 30px;
    font-size: 50px;
    padding-top: 90px;
}

.overview-pic {
    margin: 20px;
    width: 450px;
}

.download {
    margin-bottom: 30px;
}

.download h1 {
    font-size: 50px;
    margin: 30px;
    color: black;
}

.download a{
    background-color: rgb(52,58,65);
    color: aliceblue;
    padding: 10px;
    margin: 40px;
    font-size: 30px;
}

/*---portfolio page---*/

@media screen and (max-width:767px) {
    h1 {
        font-size: 35px;
    }
    
    
    .portfolio {
        width: 300px;
        height: 150px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .main-info {
        width: auto;
        margin-right: 0px;
        padding-right: 0px;
        float: none;
    }
    
    .main-info h1{
        font-size: 40px;
    }
    
    .main-info ul{
        font-size: 20px;
        margin: 5px;
        float: none;
        text-align: center;
        margin-bottom: 50px;
    }

    .main-picture {
        margin: 0px;
        float: none;
    }

    p {
     font-size: 20px;   
    }

    #overview h1{
        padding: 0px;
        font-size: 30px;
    }
    
    #overview2 h1{
        padding: 0px;
        font-size: 30px;
    }

    .overview-pic {
        margin: 0px;
        width: auto;
    }

    .download {
        margin-bottom: 30px;
    }

    .download h1 {
        font-size: 30px;
    }

    .download a{
        margin: 40px;
        font-size: 20px;
    }
}