html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Raleway', 'PT Serif', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Nav */

#wil-nav {
    position: relative;
    z-index: 100;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #70a9a1;
    height: 50px;
    box-shadow: 0px 1px 1px #0B2027;
}

#wil-mobile-nav-logo {
    padding: 3px 0 0 13px;
    font-size: 15px;
    float: left;
}

#wil-mobile-nav-logo img{
    width: 45px;
}

#wil-mobile-nav-hamburger {
    float: right;
    padding-right: 22px;
}

#wil-mobile-nav-content {
    padding: 0px;
    padding-top: 50px;
    list-style-type: none;
    display: block;
}

#wil-mobile-nav-content ul{
    padding: 0px;
    background-color: #70a9a1;
    list-style-type: none;
}

#wil-mobile-nav-content li{
    padding: 10px 0 10px 25px;
}

#wil-mobile-nav-content a{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #383635;
    z-index: 2;
    transition: font-size .5;
    text-decoration: none;
}

#wil-mobile-nav-content a:hover{
    font-size: 16px;
}
/* Nav */

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #0b2027;
    color: white;
    text-align: center;
    z-index: 100;
}

.footer-copyright {
    margin-top:15px;
    font-size: 12px;
}

.footer-contact {
    margin: 10px 0 0 0;
    /*height: 40px;*/
}

.footer-contact a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    height: 36px;
}

.footer-contact i {
    font-size: 25px; 
    color: white; 
    padding: 0 17px;
    color: #ffffff;
}

.footer-contact i:hover {
    animation-name: contact-hover;
    animation-duration: 0.5s;
    color: #f6f1d1;
    font-size: 30px;
}
/* Footer */

/* Common */

.wil-text-white {
    color: #ffffff;
}

.wil-text-color1 {
    color: #383635;
}

.wil-text-color2 {
    color: gray;
}

.wil-h1 {
    font-size: 20px;
    cursor: default;
}

.wil-h2 {
    font-size: 18px;
    cursor: default;
}

.wil-h3 {
    font-size: 16px;
}

.wil-h4 {
    font-size: 14px;
}

.wil-h5 {
    font-size: 12px;
}

.wil-context {
    font-size: 10px;
}

.close {
    height: 0;
}

.hide {
    display: hide;
}

/* Common */

/* Index */

#index-main{
    height: calc(100% - 50px);
    background-image: url(/img/index.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.index-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.index-video-wrap video {
    height: 100%;
}

.index-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0b2027;
    z-index: 1;
    opacity: 0.4;
}

.index-title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30px;
    top: 40%;
    cursor: default;
    z-index: 2;
}

.index-subtitle {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 17px;
    top: 47%;
    letter-spacing: 1px;
    cursor: default;
    z-index: 2;
}

/* Index */

/* About */

#about-main{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 80px;
}

#about-photo {
    padding: 40px;
}

#about-banner {
    background-image: url(/img/about-intro3.jpg);
    background-position: center top;
}

#about-work {
    background-image: url(/img/banner-work.jpg);
}

.about-side-section-title {
    padding: 20px 0px 20px 5px;
    text-align: center;
}

.about-side-section-content {
    margin: 5px;
    letter-spacing: 0.1px;
    text-align: center;
}

.about-middle-section {
    background-color: #383635;
    height: 300px;
    margin-bottom: 30px;
    position: relative;
}

.about-middle-section-title {
    position: absolute;
    width: 100%;
    padding: 110px 0 0 0;
    text-align: center;
    z-index: 2;
}

.about-middle-section-content {
    position: absolute;
    width: 100%;
    padding: 160px 30px 80px 30px;
    text-align: center;
    z-index: 2;
}

.about-middle-section-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: brightness(40%); /* Safari 6.0 - 9.0 */
    filter: brightness(40%);
    z-index: 0;
}

.about-experience-section {
    padding: 20px 0;
}

.about-experience-section-title {
}

.about-experience-section-content-title {
    padding: 10px 0;
}

.about-experience-section-content-subtitle {
    padding: 5px 0;
    font-weight: 700;
}
.about-experience-section-content-context {
    padding: 10px 0;
}

/* About */

/* Contact */

#contact-main {
    height: 100%;
    padding: 0px;
    padding-bottom: 80px;
}

.contact-banner {
    height: 300px;
    text-align: center;
    position: relative;
}

.contact-banner-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/banner-contact.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: brightness(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(100%);
    z-index: 0;
}

.contact-middle-section {
    padding: 20px;
    text-align: center;
}

.contact-middle-section-title {
    width: 100%;
    padding: 10px 0 0 0;
}

.contact-middle-section-subtitle {
    width: 100%;
    padding: 20px 0 0 0;
}

.contact-section {
    margin-bottom: 0px;
}

.contact-section-content {
    text-align: center;
    padding: 10px;
}
/* Contact */

/* Portfolio */

#portfolio-main {
    padding-bottom: 100px;
}

#portfolio-banner {
    background-image: url(/img/about-intro3.jpg);
    background-position: center top;
}

.portfolio-banner-section {
    background-color: #383635;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
}

.portfolio-banner-title {
    position: absolute;
    width: 100%;
    padding: 110px 0 0 0;
    text-align: center;
    z-index: 2;
}

.portfolio-banner-content {
    position: absolute;
    width: 100%;
    padding: 160px 30px 80px 30px;
    text-align: center;
    z-index: 2;
}

.portfolio-banner-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: brightness(40%); /* Safari 6.0 - 9.0 */
    filter: brightness(40%);
    z-index: 0;
}
    
.portfolio-section-title {
    padding: 10px;
}

.portfolio-project {
    padding-bottom: 10px;
}

.portfolio-project-section {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: gray;
    border-radius: 5px;
    overflow: hidden;
}

.portfolio-project-title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

.portfolio-project-tag-container {
    padding-left: 5px;
}

.portfolio-project-tag {
    float: left;
    margin-left: 5px;
    padding: 0 10px;
    background-color: #70a9a1;
    border-radius: 0  0 5px 5px;
    text-align: center;
}

.portfolio-project-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100px;
    -webkit-filter: brightness(40%); /* Safari 6.0 - 9.0 */
    filter: brightness(40%);
    z-index: 0;
}

/* Portfolio */

/* Animations */

@keyframes nav-hover {
    from {color: #ffffff; font-size: 1.4em; }
    to {color: #f6f1d1; font-size: 1.6em;}
}

@keyframes contact-hover {
    from {color: #ffffff; font-size: 30px; }
    to {color: #f6f1d1; font-size: 35px;}
}

@keyframes logo-hover {
    from {width: 68px;}
    to {width: 75px;}
}

/* Animations */

/* Portfolio BackGrounds */

#portfolio-Forest {
}

#portfolio-Pinka {
    background-image: url(/portfolio/pinka/Intro-thin.jpg);
}

#portfolio-ETR-Unreal {
    background-image: url(/portfolio/escape-the-room-unreal/Intro-thin.jpg);
}

#portfolio-SnowBallRage {
    background-image: url(/portfolio/snowball-rage/Intro-thin.jpg);
}

#portfolio-ETR-Flash {
    background-image: url(/portfolio/escape-the-room-flash/Intro-thin.jpg);
}

#portfolio-Hourglass {
    
}

#portfolio-IJWtC{
    background-image: url(/portfolio/i-just-want-to-cook/Intro-thin.jpg);
}

#portfolio-SecretTriangle{
    background-image: url(/portfolio/secret-triangle/Intro-thin.jpg);
}