#project-main {
    padding-bottom: 120px;
}

#portfolio-carousel {
}

.project-banner-section {
    background-color: #383635;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
}

.project-banner-title {
    position: absolute;
    width: 100%;
    top: 80px;
    text-align: center;
    z-index: 2;
}

.project-banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.project-banner-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: brightness(40%); /* Safari 6.0 - 9.0 */
    filter: brightness(40%);
    z-index: 0;
}

.project-detail-section {
    margin: 30px 0;
}

.project-detail {
    margin-bottom: 10px;
}

.project-detail-title {
    text-align: center;
}

.project-detail-content {
    text-align: center;
}

.project-carousel-title {
    padding: 5px;
    text-align: center;
}

.project-description-section {
    padding-top: 20px;
}

.project-description-content {
    padding: 5px 0 10px 0;
}

.project-description-image {
    position: relative;
    padding: 10px 0;
}

.project-description-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.project-description-download {
    text-align: center;
    padding: 10px 0;
}

.project-description-download a{
    background-color: #0b2027;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#project-ETR-Unreal {
    background-image: url(/portfolio/escape-the-room-unreal/Intro.jpg);
}

#project-ETR-Flash {
    background-image: url(/portfolio/escape-the-room-flash/Intro.jpg);
}

#project-snowball-rage {
    background-image: url(/portfolio/snowball-rage/Intro.jpg);
}

#project-secret-triangle {
    background-image: url(/portfolio/secret-triangle/Intro.jpg);
}

#project-pinka {
    background-image: url(/portfolio/pinka/Intro.jpg);
}

#project-i-just-want-to-cook {
    background-image: url(/portfolio/i-just-want-to-cook/Intro.jpg);
}

@media screen and (min-width: 768px) { 
    .project-detail {
        margin-bottom: 20px;
    }
    
    .project-banner-section {
        height: 350px;
    }
    
    .project-banner-title {
        top: 45%;
    }
}

@media screen and (min-width: 970px) { 
    .project-banner-section {
        height: 500px;
    }
    
    .project-banner-title {
        top: 45%;
    }
    
    .project-description-download {
        padding: 30px 0;
    }
    
    .project-description-section {
        padding: 10px 100px;
    }
    
    .project-carousel-section {
        padding: 10px 100px;
    }
}