.article h1{
    text-align: left;
    margin: 20px;
    font-size: 50px;
}

.article h2{
    text-align: left;
    margin: 20px;
    font-size: 20px;
}

.article h3{
    text-align: left;
    margin: 25px;
    font-size: 25px;
    font-weight: 600;
}

.article h4{
    text-align: left;
    margin: 25px;
    font-size: 20px;
    font-weight: 600;
}

.article-title {
    margin-bottom: 20px;
}

.article-content {
    font-weight: 500;
    margin: 20px;
    text-align: left;
    text-indent: 50px;
}

.prettyprint {
    margin: 20px;
    text-align: left;
}

.article-content-tw {
    margin: 20px;
    text-align: left;
    line-height: 28px;
    font-size: 17px;
    font-weight: 500;
}

.article-date {
    font-size: 20px;
}

.article-bottom {
    margin: 20px;
    margin-bottom: 40px;
}

.article-img {
    margin: 20px;
}

.article-back {
    font-size: 30px;
    margin: 20px;
}

.article-back a {
    background-color: rgb(84,95,109);
    color: aliceblue;
    padding: 10px;
}

.TW {
    float: right;
}

.TW a {
    background-color: rgb(84,95,109);
    color: aliceblue;
    padding: 5px;
    font-size: 10px;
}

@media screen and (max-width:767px) {
    
    .article h1{
        text-align: center;
        font-size: 30px;
    }
    
    .article h2{
        text-align: center;
    }
    
     .article h3{
        text-align: center;
    }
    
    .article-title {
        font-size: 30px;
    }
    
    .article-date {
        font-size: 15px;
    }
    
    .article-bottom {
        margin-bottom: 20px;
    }
    
    .article-content {
        font-size: 16px;
    }
    
    .article-content-tw {
        font-size: 13px;
    }
    
    .article-back {
        font-size: 20px;
    }
    
    .article-img {
        margin: 0px;
    }
}